<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Uploaded</title>
</head>
<body>
    <div>
        <label style="color:green">Your submission {{ data_name }} has been accepted</label>
    </div>
</body>
</html>