<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve Data</title>
</head>
<body>
    <a href="{{ data_url }}">Download Data</a>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFile" />
        <input type="submit" name="submit" value="Upload" />
    </form>
</body>
</html>