<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
</head>
<body>
    <div>
        <label style="color:green">Your submission has been accepted</label>
    </div>
    <div><img src="{{ img_url }}"></div>
</body>
</html>