<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
</head>
<body>
    <div>
        <label style="color:green">Your submission has been accepted</label>
    </div>
    <div>
        <object data="{{ pdf_url }}" type="application/pdf"  width="61.8%" height="1000px" align="middle">
            <p>This browser does not support PDFs. Please download the PDF to view it: <a href="{{ pdf_url }}">Download PDF</a>.</p>
        </object>
    </div>
</body>
</html>