<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Viewer</title>
</head>
<body>
    <div>
        <object data="{{ pdf_url }}" type="application/pdf" width="61.8%" height="1000px" align="middle">
            <p>This browser does not support PDFs. Please download the PDF to view it: <a href="{{ pdf_url }}">Download PDF</a>.</p>
        </object>
    </div>
    <div>
        <form method="post">
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>